<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>System.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F071AAF1ECCB732007DC248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F071AC31ECCB733007DC248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F071ACE1ECCB733007DC248</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
